@{
    ViewBag.Title = "Index";
}
@model WAD_MVC.Models.IndexModel

<h2>Danh sách kỳ thi</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        Nhập mã số kỳ thi :
        @Html.TextBox("examId", new {}, new {type = "number", @class = "form-control", required = "required"})
    </div>

    <input type="submit" name="bzz" value="Delete"/>
}
@{
    var grid = new WebGrid(Model.Exam);
}
@(
        grid.GetHtml(
            "table table-hover table-responsive",
            columns: grid.Columns(
                grid.Column("id", "Mã kỳ thi"),
                grid.Column("exam_time", "Trạng thái", e =>
                {
                    var subjectList = Model.Subject;
                    double minutes = (from s in subjectList where s.name.Equals(e.subject_name) select s.duration).Single();
                    DateTime timeOut = e.exam_time;
                    timeOut = timeOut.AddMinutes(minutes);

                    var isOver = DateTime.Compare(DateTime.Now, timeOut);
                    int inProgress = DateTime.Compare(e.exam_time, DateTime.Now);

                    if (isOver <= 0)
                    {
                        return inProgress < 0 ? "Đang thi" : "Chưa thi";
                    }
                    return "Đã thi";
                }),
                grid.Column("subject_name", "Môn thi"),
                grid.Column("exam_time", "Thời gian thi"),
                grid.Column("watcher", "Giáo viên")
                ))
      )